fastapi>=0.110.0
uvicorn>=0.28.0
sqlalchemy>=2.0.28
pydantic>=2.6.4
pydantic-settings>=2.2.1
pyjwt[crypto]>=2.8.0
passlib[bcrypt]>=1.7.4
bcrypt<4.0.0
python-multipart>=0.0.9
opencv-python>=4.9.0.80
mediapipe==0.10.14
numpy>=1.26.4
SpeechRecognition>=3.10.1
pyautogui>=0.9.54
pyaudio>=0.2.14
scikit-learn>=1.4.1.post1
reportlab>=4.1.0
openpyxl>=3.1.2
psutil>=5.9.8
pytest>=8.1.1
requests>=2.31.0
